@model AccountType

@{
    ViewData["Title"] = "Edit Account Type";
}

<h1>Edit Account Type: @Model.Name</h1>
<div asp-validation-summary="ModelOnly " class="text-danger"></div>

<form asp-controller="AccountTypes" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Edit  </button>
    <a class="btn btn-danger" asp-action="Index">Cancel</a>

</form>

@section Scripts{
<partial name-"_ValidationScriptsPartial />
}
